@import "tailwindcss";

@theme {
  --color-brand: #E50914;
  --color-darkBg: #000000;
  --color-darkSurface: #141414;
  --color-darkCard: #1E1E1E;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}
